
<!DOCTYPE html><html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<head lang="en">
    <meta charset="UTF-8">
    <title>Moneypit - Heatmap</title>
    <style>
        h2 {text-align: center;}
        h3 {text-align: center;}
        h4 {text-align: center;}
		th, td {
		  text-align: center;
		  padding: 8px;
		}
		table {
			width: 80%;
			margin: 0 auto;
		}
    </style>
</head>
<body>
<h2 class="display-2">
{{ date_start + ' to ' + date_end }}
</h2>
<h4>
	<a href="/moneypit/transaction/upload">Upload File</a> | 
	<a href="/moneypit/categories">Manage Categories</a> | 
	<a href="/moneypit/heatmap/months?core_expenses={{core_expense_qualifier}}">{{ core_expense_qualifier }} Core Expenses</a> | 
	<a href="/moneypit/transactions/uncategorized/groups">Resolve Uncategorized Transactions</a>
</h4>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-50">
			<table border="1px" class=".table">
				<tr>
					<th>Category</th>
				{% for date_key in heatmap_data_container.get_dates() %}
					<th>
					{{ date_key }}
					</th>
				{% endfor %}
				</tr>

				<tr>
					<td>Total</td>
					{% for date_key in heatmap_data_container.get_dates() %}
					<td>
					{{ heatmap_data_container.get_total_for_date(date_key) }}
					</td>
				{% endfor %}

				</tr>
			{%for cat in categories%}
				<tr>
					<td>{{cat}}</td>
					{% for date_key in heatmap_data_container.get_dates() %}
						<td bgcolor="{{ heatmap_data_container.get_rgb(date_key, cat) }}">
							<a href="/moneypit/heatmap/transactions?date-key={{ date_key }}&category={{ cat }}">{{  "${:,.2f}".format(heatmap_data_container.get_value(date_key, cat)) }}</a>
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</table>
		</div>
	</div>
</div>
</body>
</html>
